.meal-div {
  margin: 2rem auto;
  text-align: center;
  max-width: 35rem;
}

.show {
  display: block;
}

.picked {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  margin: 0.45rem;
  cursor: pointer;
  background: greenyellow;
  border-radius: 10px;
}

.picked:hover {
  background: #333;
  color: white;
}

.action-btn {
  margin: 1.5rem auto;
  margin-bottom: 0rem;
}
.not-picked {
  display: inline-block;
}
.not-picked:hover {
  color: green;
}

.hide {
  display: none;
}
.change-calo {
  text-align: center;
  text-align: center;
  background: black;
  color: white;
  cursor: pointer;
  padding: 0.2rem;
}

.more-options-headings {
  cursor: pointer;
}

.results-div {
  outline: 2px solid red;
}
.meal-head-options {
  color: #fff;
  background: #333;
  border-radius: 10px;
  display: inline-block;
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.meal-gen-options li {
  display: inline-block;
  margin: 0.6rem;
  padding: 0.2rem;
}

label {
  border: 2px solid green;
  padding: 0.28rem;
  border-radius: 10px;
  cursor: pointer;
}

.results-div {
  max-width: 35rem;
  margin: 2rem auto;
}

.meal-info-div {
  margin: 1.5rem auto;
  text-align: center;
}

.meal-img {
  width: 100%;
  height: auto;
}

.meal-image-title {
  position: relative;
  max-width: 18rem;
  text-align: center;
  margin: auto;
}

.meal-fav {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  background: greenyellow;
  padding: 0.3rem;
  border-radius: 50%;
}

.meal-fav:hover {
  color: pink;
}
.meal-title {
  position: absolute;
  background: greenyellow;
  padding: 0.25rem;
  bottom: 0rem;
  border-top-right-radius: 10px;
}
.meal-info {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  max-width: 30rem;
}
