.site-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem;
}

.meal-intro {
  line-height: 2rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

.meal-intro p {
  text-align: left;
}

.meal-div {
  margin: 2rem auto;
  text-align: center;
  max-width: 35rem;
}

.show {
  display: block;
}

.picked {
  display: inline-block;
  padding: 0.2rem 0.7rem;
  margin: 0.45rem;
  cursor: pointer;
  background: greenyellow;
  border-radius: 10px;
}

.picked:hover {
  background: #333;
  color: white;
}

.action-btn {
  margin: 0 auto;
}
.not-picked {
  display: inline-block;
}
.not-picked:hover {
  color: green;
}

.hide {
  display: none;
}
.change-calo {
  text-align: center;
  text-align: center;
  background: black;
  color: white;
  cursor: pointer;
  padding: 0.2rem;
}

.meal-duration {
  margin: 1.5rem auto;
}
.input-options {
  margin: 2rem auto;
  max-width: 20rem;
}

.results-div {
  max-width: 35rem;
  margin: 2rem auto;
}

.meal-info-div {
  margin: 1rem;
  text-align: center;
  border: 2px solid rgb(240, 35, 35);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 1.7rem;
}

/* Results Styles */

.results-day {
  font-size: 1.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.nutrients-headings {
  font-size: 1.3rem;
  color: #444;
}

.nutrients-spec {
  margin: 1rem;
}

button {
  border: none;
}
input {
  border: none;
}
.results-day:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 10%;
  background: green;
  border-top-right-radius: 20px;
  bottom: 0;
}

.nutrients-day {
  line-height: 2rem;
  margin: 2rem auto;
  max-width: 30rem;
  margin-bottom: 4rem;
}

.result-div-day {
  width: 85%;
  margin: auto;
}

.pie-chart {
  max-width: 15rem;
}

.meal-div-mapping {
  text-align: center;
}

.meal-card-div {
  position: relative;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 1rem;
  padding: 0;
}

.calo-img {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

button:hover {
  cursor: pointer;
}
.other-meal-info {
  padding: 0.5rem;
  line-height: 1.5rem;
}
.other-meal-info p,
.other-meal-info .other-meal-icon {
  margin: 0;
}
.other-meal-info .other-meal-icon {
  font-size: 1rem;
  opacity: 0.7;
}
.meal-card-div:last-child {
  margin-left: 1rem;
}
.meal-card-div:first-child {
  margin-right: 1rem;
}

.box-div {
  outline: px solid green;
  max-width: 15rem;
}

.div-flex {
  display: flex;
  flex-direction: column;
}
.nut-name {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.7;
}

.get-recipe-btn {
  margin: 0.8rem;
}
.flex-btn {
  margin: auto;
  max-width: 7rem;
}

.custom-btn {
  margin-top: 1rem;
}

.meal-tit {
  color: whitesmoke;
  padding: 0.3rem;
  background: green;
  position: absolute;
  left: 0;
  top: -2.7rem;
}
.meal-box-img {
  max-width: 13rem;
  height: auto;
}
.meal-icon {
  padding: 0.4rem;
  font-size: 1.8rem;
  border-radius: 100px;
}
.grad-bg {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fav {
  color: white;
  padding: 0.5rem;
  font-size: 1.8rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.fav:hover {
  background: white;
  color: green;
}

.meal-img {
  width: 100%;
  height: auto;
}

.meal-image-title {
  position: relative;
  max-width: 18rem;
  text-align: center;
  margin: auto;
}

.meal-title {
  color: whitesmoke;
  font-weight: 700;
  position: absolute;
  padding: 0.25rem 0.45rem;
  bottom: 0rem;
  border-top-right-radius: 10px;
}
.meal-info {
  display: flex;
  align-items: center;
  margin: 0.7rem auto;
  justify-content: space-between;
  max-width: 14rem;
}

.other-meal-icon {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.utensils {
  margin-left: 1rem;
}
